.contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.contacts__items {
}
.contacts__item {
  font-size: 40px;
}

@media (max-width: 1200px) {
  .contacts__item {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .contacts {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .contacts__items {
  }
  .contacts__item {
    font-size: 20px;
  }
}
