.skills {
  position: relative;
  display: flex;
  gap: 30px;
}
.skills__hello {
  flex-grow: 1;
  flex-basis: 0;
}
.skills__hello__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
}

.skills__hello__desc {
  font-size: 20px;
}
.skills__items {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex-grow: 1;
  flex-basis: 0;
}
.skills__item {
}
.skills__item__title {
  font-size: 30px;
}
.skills__item__desc {
  font-size: 20px;
}

@media (max-width: 1200px) {
}
@media (max-width: 576px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
}
